.header_box {
  display: block;
  margin-left: 0;
  margin-right: 0;
  /* background-color: #303030; */
}

.header_container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding-left: 320px !important;
  margin-left: 0% !important;
  width: 100% !important;
  margin-right: 0px !important;
  max-width: 100% !important;
  padding-right: 60px !important;
}
.main_button {
  margin-block-start: 0;
  margin-block-end: 0;
  color: white !important;
  font-size: 1.5em !important;
  font-family: cursive !important;
  font-weight: bold !important;
}

.main_button:hover{
  text-shadow: 0 0 20px rgb(192, 255, 76);
}

.navigation_button {
  margin-block-start: 0;
  margin-block-end: 0;
  color: white !important;
  font-size: 0.8em !important;
  font-family: cursive !important;
  font-weight: bold !important;
  border-color: rgb(0, 0, 0) !important;
  margin-right: 1px !important;
 
}

.navigation_button:hover{
  border-color: rgb(192, 255, 76) !important;
}